*
{
    box-sizing: border-box;
}

body
{
    color: green;
    background-color: #161616;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1
{
    margin: 32px 0 32px;
}
p
{
    margin: 0px;
    font-size: 1.2em;
    font-weight: 600;
}

main
{
    display: flex;
    gap: 8px;
    flex: 1 1 auto;
}

.tool-container
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}
.tool-container .btn
{
    display: block;
    font-size: 1em;
    font-weight: 600;
    background-color: black;
    color: green;
    padding: 4px;
    margin-bottom: 8px;
    width: 80px;
}
.btn.option:hover
{
    background-color: darkgreen;
    color: white;
}
.btn.pen
{
    width: 32px;
}
.btn.pen#regular
{
    margin-top: 32px;
}

.grid-container
{
    display: flex;
    flex-flow: column nowrap;
    height: 70vh;
    width: 70vh;
    border: 1px solid white;
    user-select: none;
    /* hack to make the grid container appear at center of page */
    margin-right: 88px;
}

footer
{
    height: 24px;
}
a
{
    color:rgb(98, 110, 235);
}
a:hover
{
    filter: brightness(0.9);
    text-decoration: none;
}
